<launch>

	<include file="$(find dd2419_simulation)/launch/simulation.launch">
		<arg name="gui" value="false"/> 
	</include>

	<node name="tf_base2camera" pkg="tf2_ros" type="static_transform_publisher" args="0.01 0 0.02 -1.57 0 -1.57 cf1/base_link cf1/camera_link" />
	<node name="tf_map2odom" pkg="tf2_ros" type="static_transform_publisher" args="0 0 0 0 0 0 map cf1/odom" />

</launch>
